name: Check branch is releasable and release alpha on main branch update
on: [push, pull_request]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        task: [ lint, 'test:unit', 'test:unit-cypress', 'test:e2e:ci' ]
    name: ${{ matrix.task }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Enables cache
        id: cache
        uses: ./.github/actions/cache
        with:
          task_name: ${{ matrix.task }}
      - name: Install lerna and all packages
        if: steps.cache.outputs.cache-node-modules != 'true'
        run: npm ci
      - name: Build
        if: steps.cache.outputs.cache-node-modules == 'true'
        run: npm run build
      - name: Run ${{ matrix.task }}
        run: npm run ${{ matrix.task }}
  release:
    needs: [build]
    runs-on: macos-latest
    steps:
      - uses: docker-practice/actions-setup-docker@master
      - name: Release alpha on non-release pushes to main branch
        if:
          ${{ github.ref_name == 'main' && github.actor != 'support-empathy' &&
          !startsWith(github.event.head_commit.message, 'chore(release):') }}
        uses: ./.github/actions/release-alpha
        with:
          npm_token: ${{ secrets.NPM_TOKEN }}
          github_token: ${{ secrets.SUPPORT_TOKEN }}
